body {
    font-family: monospace;
}

svg {
    margin: auto;
    display: block;
    border: 1px solid red;
}

.controls {
    background-color: black;
    color: white;
    border: 4px solid white;
    padding: 16px;
    display: inline-block;
    position: fixed;
}